<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Atores
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list *ngFor="let actor of actorsList">
    <ion-item>
      <ion-label>
        <h2>Nome: {{actor.name}}</h2>
        <p>Idade: {{actor.age}}</p>
        <p>Criado em: {{actor.created_date}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)" *ngIf="next != null">
    <ion-infinite-scroll-content loadingText="Please wait..." loadingSpinner="bubbles"></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>